.header {
  padding: 1px;
  text-align: center;
  background: #c50f0f;
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.container2 img {
  width: 15%;
  height: 5%;
  border: 1px solid #c50f0f;
}

.deuruim {
  display: block;
  width: 100%;
  margin: auto;
}

body {
  background: #efefbb;
  background-color: white;
  color: white;
  margin: 0;
  font-family: rubik;
}

.container {
  background: rgb(255, 255, 255);
  padding: 40px;
  margin: 0 auto;
}

h1 {
  background: #c41919;
  text-align: center;
  font-size: 74px;
  font-family: roboto;
}

.pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 0;
  padding: 400px;
  padding-top: 25px;
  padding-bottom:25px;
}

.card {
  max-block-size: 500px;
  list-style: none;
  padding: 40px;
  color: #222;
  text-align: center;
  border-radius: 20px;
  position: relative;
  flex-direction: row;
}

.card::after {
  content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  background-color: #fff;
  opacity: 0.7;
  position: absolute;
  top: 15%;
  left: 25%;
}

.ghost {
  background-color: grey;
}

.steel {
  background-color: #f4f4f4;
}

.fire {
  background-color: #f8cccc;
}

.grass {
  background-color: #defde0;
}

.electric {
  background-color: #fcf7de;
}

.water {
  background-color: #def3fd;
}

.ice {
  background-color: #def3fd;
}

.ground {
  background-color: #f4e7da;
}

.dark {
  background-color: rgb(121, 51, 172);
}

.rock {
  background-color: #d5d5d4;
}

.fairy {
  background-color: #fceaff;
}

.poison {
  background-color: #98d7a5;
}

.bug {
  background-color: #f8d5a3;
}

.dragon {
  background-color: #97b3e6;
}

.psychic {
  background-color: #eaeda1;
}

.flying {
  background-color: #f5f5f5;
}

.fighting {
  background-color: #e6e0d4;
}

.normal {
  background-color: #f5f5f5;
}

.card:hover {
  animation: bounce 0.5s linear;
}

.card-title {
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: normal;
  position: relative;
  z-index: 2;
}

.card-subtitle {
  margin-top: 5px;
  color: #666;
  font-weight: lighter;
  position: relative;
  z-index: 2;
}

.card-image {
  height: 180px;
  position: relative;
  z-index: 2;
}

.ui.input {
  margin: auto;
  display: block;
}

.ui.input > input {
  display: block;
  margin: auto;
  border: 1px solid gray;
}

.ui.button {
  display: block;
  margin: auto;
  color: white;
  background: red;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
